<div class="container">
    <div class="bg-container box-round">
        <div class="row">
            <div class="span12">
                <h2>Libre Cultura</h2>
            </div>
        </div>
    </div>
</div>