<div class="container">
    <div class="bg-container box-round">
        <div class="row">
            <div class="span4">
                <div class="logoflisol">
                    <img src="./img/Logo_Flisol.png" alt="Flisol Logo">
                </div>
            </div>
            <div class="span8">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h3>¿Que es Flisol?</h3>
                    </div>
                    <div class="box-cont">
                        <p>
                            Es el <strong>Festival Latinoamericano de Instalación de Software Libre</strong> y actualmente es el evento de difusión de Software Libre más grande en Latinoamérica.
                            Su principal objetivo es promover el uso del software libre, dando a conocer al público en general su filosofía, alcances, avances y desarrollo.
                            Para tal fin, las diversas comunidades locales organizan simultáneamente eventos en los que se instala software libre y además se ofrecen charlas, ponencias y talleres en torno a la filosofía <abbr title="De Fuente Abierta" class="initialism">OpenSource</abbr> en toda su gama de expresiones: artística, académica, empresarial y social.
                            <a href="http://flisol.net" target="_blank"><span class="label label-warning">Más info: Flisol.net</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span7 text-center">
                <div class="video-container">
                    <!-- <iframe width="853" height="480" src="http://www.youtube.com/embed/ozlm-JA4AJE" frameborder="0" allowfullscreen></iframe> -->
                    <!-- <iframe width="560" height="315" src="http://www.youtube.com/embed/ozlm-JA4AJE" frameborder="0" allowfullscreen></iframe> -->
                    <iframe src="http://www.youtube.com/embed/ozlm-JA4AJE" frameborder="0" allowfullscreen></iframe>                        
                </div>
            </div>
            <div class="span5">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h3>Flisol General</h3>
                    </div>
                    <div class="box-cont">
                        Es el evento central que se realizará el <strong>4 de Mayo de 2013</strong> y concentrará conferencias, talleres, stands, hackatón, cultura libre y jornada de instalación bajo un mismo techo.<br>
                        <strong>Lugar:</strong> Instituto Distrital para la recreación y el Deporte - IDRD<br>
                        <strong>Dirección:</strong> Av. 63 #68-00<br>
                        <a href="#flisolcentral"><span class="label label-warning">Mas Información >></span></a>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h3>Flisoles Distribuidos</h3>
                    </div>
                    <div class="box-cont">
                        Diseminados en varios puntos de la ciudad podrás encontrar un espacio mucho más local y más personal para que puedas llevar tu equipo y también aprender sobre Software Libre! <br>
                        <strong>Fecha:</strong> En la semana del 27 de abril de 2013 <br>
                        <a href="#distribuidos"><span class="label label-warning">Encuentra uno cerca a tí >></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h4>¿Cuánto cuesta?</h4>
                    </div>
                    <div class="box-cont">
                        <p>
                            Tanto el ingreso al evento, asi como la asistencia y participación en cualquiera de las actividades es <strong>totalmente libre y gratuita</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h4>¿A quién está dirigido?</h4>
                    </div>
                    <div class="box-cont">
                        <p>
                            El evento está dirigido a todo tipo de público: estudiantes, académicos, empresarios, entusiastas, trabajadores, funcionarios públicos y aun personas que no poseen mucho conocimiento informático.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="contbox box-round">
                    <div class="box-header">
                        <h4>¿Qué beneficios obtengo?</h4>
                    </div>
                    <div class="box-cont">
                        <p>
                            Tendrás la oportunidad de instalar software libre en tu computadora, y tal vez encuentres una alternativa ó solución en software libre para ti, tu empresa, colegio, universidad e incluso, para tu gobierno. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span8">
                <div class="carousel slide" id="myCarousel">
                    <ol class="carousel-indicators">
                      <li data-slide-to="0" data-target="#myCarousel" class=""></li>
                      <li data-slide-to="1" data-target="#myCarousel" class=""></li>
                      <li data-slide-to="2" data-target="#myCarousel" class=""></li>
                      <li data-slide-to="3" data-target="#myCarousel" class=""></li>
                      <li data-slide-to="4" data-target="#myCarousel" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <img alt="" src="img/fotos/confe1.jpg">
                        <div class="carousel-caption">
                          <h4>Charlas y Conferencias</h4>
                          <p>Infórmate y aprende todo lo relacionado a la Filosofia Open Source </p>
                        </div>
                      </div>
                      <div class="item">
                        <img alt="" src="img/fotos/insta2.jpg">
                        <div class="carousel-caption">
                          <h4>Jornadas de Instalación</h4>
                          <p>Lleva tu equipo al evento para que te instalen todo el software libre que quieras</p>
                        </div>
                      </div>
                      <div class="item">
                        <img alt="" src="img/fotos/taller3.jpg">
                        <div class="carousel-caption">
                          <h4>Talleres y Capacitaciones</h4>
                          <p>Aprende a usar distintos tipos de herramientas libres que harán tu vida mucho mas facil</p>
                        </div>
                      </div>
                      <div class="item">
                        <img alt="" src="img/fotos/stand3.jpg">
                        <div class="carousel-caption">
                          <h4>Exposiciones y Stands</h4>
                          <p>Explora y aprende sobre las distintas comunidades y entidades que existen en torno al Software libre</p>
                        </div>
                      </div>
                      <div class="item">
                        <img alt="" src="img/fotos/cultu2.jpg">
                        <div class="carousel-caption">
                          <h4>Libre Cultura</h4>
                          <p>Porque no todo es tecnología la expresiones artisticas tambien hacen uso de las libertades</p>
                        </div>
                      </div>
                    </div>
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
                </div>
            </div>
            <div class="span4">
                <div class="center">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23flisolbogota"  data-widget-id="303654263618412546">Tweets sobre "#flisolbogota"</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <div class="contbox box-cont box-round" style="text-align: center;">
                    <a href="http://osm.org/go/YJ5jV0zJ" target="_blank">
                        <img src="http://ojw.dev.openstreetmap.org/StaticMap/?lat=4.6571724211896&amp;lon=-74.085702896119&amp;z=16&amp;w=1080&amp;h=360&amp;mode=Export&amp;mico0=22798&amp;mico1=22798&amp;mlat2=4.6576643180275&amp;mlon2=-74.084887504578&amp;mico2=22798&amp;show=1" width="1080" height="360" alt="OpenStreetMap (mapnik) map of the area around 4.65717, -74.08570" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>