<div class="container">
    <div class="bg-container box-round">
        <div class="row">
            <div class="span8 offset2">
                <div class="contbox box-cont box-round">
                    <iframe src="http://goo.gl/uBLKM"  height="1500" width=100%></iframe>
                </div>
            </div>
        </div>
    </div>
</div>